<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="framework_testng">
	<test verbose="2" name="TestGroups">
		<!--<groups>-->
			<!--<run>-->
				<!--<include name="functest" />-->
				<!--<exclude name="checkintest" />-->
			<!--</run>-->
		<!--</groups>-->
		<classes>
			<class name="com.gui.ngdemo.FirstNGTest" />
		</classes>
	</test>
</suite>